body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    aspect-ratio: 1;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    border: 2px solid black;
}

.containerDivs {
    display: flex;
    flex: 1 0 6.25%;
    height: 6.25%;
    border: 1px solid black;
    box-sizing: border-box;
}